
body {
    font-family: Arial, sans-serif;
    background: url('../images/main_index.jpg') no-repeat center center fixed; 
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.homepage-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.homepage-btn img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.homepage-btn img:hover {
    transform: scale(1.2);
}

.profile-container {
    background: rgba(0, 0, 0, 0.938);
    padding: 100px;
    border-radius: 80px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    max-width: 1800px;
    width: 100%;
    margin: 100px;
}

.project-container {
    background: rgba(255, 254, 254, 0.938);
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.429);
    max-width: 1000px;
    width: 100%;
    margin: 40px;
}

.profile-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-info input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

.projects h2,
.working-on {
    margin-bottom: 10px;
}

.username{
    color: #ff01bb; 
}

.add-project-btn {
    background-color: #ff01bb; /* Ροζ φόντο */
    color: white; /* Λευκά γράμματα */
    border: none; /* Καταργούμε το border */
    border-radius: 30px; /* Στρογγυλές γωνίες */
    padding: 10px 20px; /* Padding για να είναι πιο άνετο το κουμπί */
    cursor: pointer;
    font-size: 18px; /* Μέγεθος γραμματοσειράς */
    transition: background-color 0.3s ease; /* Εφέ αλλαγής χρώματος φόντου */
}

.add-project-btn:hover {
    background-color: #e70098; /* Σκούρο ροζ φόντο κατά το hover */
}



